Repository tabiszs/partyKLINest, pull requests merged in 2022-05, with the labels that each got.

#57 Feature/backend b2c
  backend/src/Infrastructure/Dependencies.cs
  backend/src/Infrastructure/Infrastructure.csproj
  backend/src/WebApi/Controllers/CommissionController.cs
  backend/src/WebApi/Controllers/UserController.cs
  backend/src/WebApi/Extensions/UsersExtensions.cs
  backend/src/WebApi/Program.cs
Labels: backend

#59 Feature/orders endpoints backend
  backend/src/ApplicationCore/Services/OrderFacade.cs
  backend/src/ApplicationCore/Specifications/OrdersCreatedBySpecification.cs
  backend/src/WebApi/Controllers/CommissionController.cs
  backend/src/WebApi/Controllers/OrdersController.cs
  backend/src/WebApi/Controllers/UserController.cs
  backend/src/WebApi/Extensions/UsersExtensions.cs
  backend/tests/UnitTests/ApplicationCore/Services/CleanerFacadeTests/AcceptRejectOrder.cs
  backend/tests/UnitTests/ApplicationCore/Services/CleanerFacadeTests/CheckCleanersPriviliges.cs
  backend/tests/UnitTests/ApplicationCore/Services/CleanerFacadeTests/ConfirmOrderCompleted.cs
  backend/tests/UnitTests/ApplicationCore/Services/CleanerFacadeTests/GetAssignedOrders.cs
  backend/tests/UnitTests/ApplicationCore/Services/CleanerFacadeTests/GetCleanerInfo.cs
  backend/tests/UnitTests/ApplicationCore/Services/CleanerFacadeTests/ListCleanersMatchingOrder.cs
  backend/tests/UnitTests/ApplicationCore/Services/CleanerFacadeTests/UpdateOrderFilter.cs
  backend/tests/UnitTests/ApplicationCore/Services/CleanerFacadeTests/UpdateSchedule.cs
  backend/tests/UnitTests/ApplicationCore/Services/CleanerFacadeTests/UpdateStatus.cs
  backend/tests/UnitTests/ApplicationCore/Services/OrderFacadeTests/AddOrder.cs
  backend/tests/UnitTests/ApplicationCore/Services/OrderFacadeTests/DeleteOrder.cs
  backend/tests/UnitTests/ApplicationCore/Services/OrderFacadeTests/GetOrder.cs
  backend/tests/UnitTests/ApplicationCore/Services/OrderFacadeTests/ModifyOrder.cs
  backend/tests/UnitTests/ApplicationCore/Services/OrderFacadeTests/SubmitOpinionCleaner.cs
  backend/tests/UnitTests/ApplicationCore/Services/OrderFacadeTests/SubmitOpinionClient.cs
  backend/tests/UnitTests/ApplicationCore/Specifications/OrdersCreatedBySpecificationTest.cs
Labels: backend

#66 fix warnings from deploy logs
  frontend/src/ContentScreens/Cleaner/Schedule.tsx
  frontend/src/ContentScreens/CleanerOrderManagement.tsx
  frontend/src/ContentScreens/ClientOrderManagement.tsx
  frontend/src/DataClasses/CleanerInfo.ts
Labels: frontend, devops

#67 Add reload on submits
  frontend/src/Components/UserList.tsx
  frontend/src/ContentScreens/Admin/ComissionForm.tsx
  frontend/src/ContentScreens/Admin/OrderDeletion.tsx
  frontend/src/ContentScreens/Cleaner/Schedule.tsx
  frontend/src/ContentScreens/CleanerOrderManagement.tsx
  frontend/src/ContentScreens/ClientOrderManagement.tsx
  frontend/src/ContentScreens/PostAnnouncement.tsx
  frontend/src/ContentScreens/RateOrder.tsx
Labels: frontend

#64 complete client controller
  backend/src/ApplicationCore/Entities/Users/Cleaners/Cleaner.cs
  backend/src/ApplicationCore/Entities/Users/Cleaners/OrderFilter.cs
  backend/src/ApplicationCore/Services/CleanerFacade.cs
  backend/src/ApplicationCore/Services/ClientFacade.cs
  backend/src/Infrastructure/Data/Config/CleanerConfiguration.cs
  backend/src/Infrastructure/Migrations/20220505184239_Initial.cs
  backend/src/WebApi/Controllers/ClientController.cs
  backend/tests/UnitTests/ApplicationCore/Extensions/DateTimeOffsetExtensionTest/ToTimeOnly.cs
  backend/tests/UnitTests/ApplicationCore/Services/ClientFacadeTests/GetClients.cs
Labels: backend

#29 Dev ops/deploy frontend
  .github/workflows/azure-webapps-node.yml
Labels: devops

#70 remove placeholder from newOrder in PostAnnouncement.tsx
  frontend/src/App.tsx
  frontend/src/ContentScreens/PostAnnouncement.tsx
Labels: bug, frontend

#72 Add azure adb2c configuration hot fix
  .github/workflows/azure-webapps-node.yml
  backend/src/ApplicationCore/Entities/Users/Cleaners/Cleaner.cs
  backend/src/ApplicationCore/Entities/Users/Cleaners/OrderFilter.cs
  backend/src/ApplicationCore/Services/CleanerFacade.cs
  backend/src/ApplicationCore/Services/ClientFacade.cs
  backend/src/Infrastructure/Data/Config/CleanerConfiguration.cs
  backend/src/Infrastructure/Dependencies.cs
  backend/src/Infrastructure/Migrations/20220505184239_Initial.cs
  backend/src/WebApi/Controllers/ClientController.cs
  backend/tests/UnitTests/ApplicationCore/Extensions/DateTimeOffsetExtensionTest/ToTimeOnly.cs
  backend/tests/UnitTests/ApplicationCore/Services/ClientFacadeTests/GetClients.cs
  frontend/src/App.tsx
  frontend/src/Components/UserList.tsx
  frontend/src/ContentScreens/Admin/ComissionForm.tsx
  frontend/src/ContentScreens/Admin/OrderDeletion.tsx
  frontend/src/ContentScreens/BanScreen.css
  frontend/src/ContentScreens/BanScreen.tsx
  frontend/src/ContentScreens/Cleaner/Schedule.tsx
  frontend/src/ContentScreens/CleanerOrderManagement.tsx
  frontend/src/ContentScreens/ClientOrderManagement.tsx
  frontend/src/ContentScreens/PostAnnouncement.tsx
  frontend/src/ContentScreens/RateOrder.tsx
  frontend/src/DataClasses/CleanerInfo.ts
Labels: bug, backend

#71 Add ban handling on all endpoints
  backend/src/WebApi/Extensions/UsersExtensions.cs
  backend/src/WebApi/Middleware/BanBlockadeMiddleware.cs
  backend/src/WebApi/Program.cs
Labels: backend

#74 Fix orders endpoint with wrong types
  backend/src/WebApi/Controllers/OrdersController.cs
  backend/src/WebApi/Mapper/AutoMapperProfile.cs
  backend/src/WebApi/Models/OrderDTO.cs
  backend/src/WebApi/Program.cs
  backend/src/WebApi/WebApi.csproj
Labels: bug, backend

#62 complete cleaner controller and commision controller
  backend/src/ApplicationCore/Exceptions/NotKnownCleanerStatusException.cs
  backend/src/ApplicationCore/Services/CleanerFacade.cs
  backend/src/WebApi/Controllers/CleanerController.cs
  backend/src/WebApi/Controllers/ClientController.cs
  backend/src/WebApi/Controllers/CommissionController.cs
  backend/src/WebApi/Models/CleanerInfoDTO.cs
Labels: backend

#75 remove .env, change .gitignore
  frontend/.env
  frontend/.gitignore
Labels: frontend, devops

#63 add facade organizer
  backend/src/ApplicationCore/Exceptions/CleanerIsNotBannedException.cs
  backend/src/ApplicationCore/Exceptions/OrderNotActiveException.cs
  backend/src/ApplicationCore/Handlers/AssignOrderFacade.cs
  backend/src/ApplicationCore/Services/CleanerFacade.cs
  backend/src/ApplicationCore/Services/OrderFacade.cs
  backend/src/Infrastructure/Dependencies.cs
  backend/src/WebApi/Controllers/UserController.cs
  backend/tests/UnitTests/ApplicationCore/Handlers/AssignOrderTests.cs
  backend/tests/UnitTests/ApplicationCore/Services/CleanerFacadeTests/BanCleaner.cs
  backend/tests/UnitTests/ApplicationCore/Services/CleanerFacadeTests/UnbanCleaner.cs
  backend/tests/UnitTests/ApplicationCore/Services/OrderFacadeTests/CancellOrder.cs
Labels: backend

#69 UserController with MS Graph configuration
  backend/src/Infrastructure/ClientCredentialProvider.cs
  backend/src/Infrastructure/Dependencies.cs
  backend/src/Infrastructure/ExtensionPropertyNameBuilder.cs
  backend/src/Infrastructure/Infrastructure.csproj
  backend/src/WebApi/Controllers/UserController.cs
  backend/src/WebApi/Extensions/GraphUserExtensions.cs
  backend/src/WebApi/Models/UserInfoDTO.cs
  backend/src/WebApi/WebApi.csproj
  backend/src/WebApi/appsettings.Development.json
Labels: backend

#80 Fix user extensions
  backend/src/WebApi/Extensions/UsersExtensions.cs
  backend/tests/UnitTests/UnitTests.csproj
  backend/tests/UnitTests/WebApi/Extensions/UsersExtensionsTests/GetOid.cs
  backend/tests/UnitTests/WebApi/Extensions/UsersExtensionsTests/IsBanned.cs
Labels: bug, backend

#95 Modify /api/user/{id} behaviour to delete only callers account
  backend/src/WebApi/Controllers/UserController.cs
Labels: backend
