Repository tabiszs/partyKLINest, pull requests merged in 2022-04, with the labels that each got.

#7 create sign up/sign in and edit in workflow and app configuration
  backend/src/WebApi/appsettings.json
Labels: backend

#19 Add "/api/" to apiUrl
  frontend/.env
  frontend/src/Api/urlProvider.ts
Labels: frontend

#12 Create node.js.yml
  .github/workflows/node.js.yml
  frontend/src/App.test.tsx
Labels: devops

#16 Logowanie i edycja konta
  frontend/.env
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/Authentication/MsalService.ts
  frontend/src/ContentScreens/AnnouncementList.tsx
  frontend/src/ContentScreens/Client/ClientDashboard.tsx
  frontend/src/ContentScreens/Client/ClientSettings.tsx
  frontend/src/ContentScreens/Dashboard.tsx
  frontend/src/ContentScreens/Settings.tsx
  frontend/src/DataClasses/AccountDetails.ts
  frontend/src/DataClasses/AccountType.ts
  frontend/src/Header.tsx
  frontend/src/Layout.tsx
  frontend/src/Sidebar.tsx
  frontend/src/index.tsx
Labels: frontend

#20 Feature/client frontend post announcement
  frontend/package-lock.json
  frontend/package.json
  frontend/src/Api/endpoints.ts
  frontend/src/App.css
  frontend/src/App.test.tsx
  frontend/src/App.tsx
  frontend/src/Components/Heading.css
  frontend/src/Components/Heading.tsx
  frontend/src/ContentScreens/Client/ClientDashboard.tsx
  frontend/src/ContentScreens/Dashboard.tsx
  frontend/src/ContentScreens/PostAnnouncement.css
  frontend/src/ContentScreens/PostAnnouncement.tsx
  frontend/src/ContentScreens/Settings.tsx
  frontend/src/DataClasses/Address.ts
  frontend/src/DataClasses/DateTimeOffset.ts
  frontend/src/DataClasses/MessLevel.ts
  frontend/src/DataClasses/NewOrder.ts
  frontend/src/Layout.tsx
  frontend/src/Sidebar.tsx
  frontend/src/index.tsx
Labels: frontend

#8 Feature/ef core
  .gitignore
  backend/src/ApplicationCore/ApplicationCore.csproj
  backend/src/ApplicationCore/Entities/MessLevel.cs
  backend/src/ApplicationCore/Entities/Orders/Address.cs
  backend/src/ApplicationCore/Entities/Orders/Opinion.cs
  backend/src/ApplicationCore/Entities/Orders/Order.cs
  backend/src/ApplicationCore/Entities/Orders/OrderStatus.cs
  backend/src/ApplicationCore/Entities/Users/Cleaners/Cleaner.cs
  backend/src/ApplicationCore/Entities/Users/Cleaners/CleanerStatus.cs
  backend/src/ApplicationCore/Entities/Users/Cleaners/ScheduleEntry.cs
  backend/src/ApplicationCore/Entities/Users/Client.cs
  backend/src/ApplicationCore/Interfaces/IAggregateRoot.cs
  backend/src/ApplicationCore/Interfaces/IReadRepository.cs
  backend/src/ApplicationCore/Interfaces/IRepository.cs
  backend/src/Infrastructure/Data/Config/CleanerConfiguration.cs
  backend/src/Infrastructure/Data/Config/ClientConfiguration.cs
  backend/src/Infrastructure/Data/Config/OrderConfiguration.cs
  backend/src/Infrastructure/Data/Config/ScheduleEntryConfiguration.cs
  backend/src/Infrastructure/Data/EfRepository.cs
  backend/src/Infrastructure/Data/PartyKlinerDbContext.cs
  backend/src/Infrastructure/Data/PartyKlinerDbContextFactory.cs
  backend/src/Infrastructure/Dependencies.cs
  backend/src/Infrastructure/Infrastructure.csproj
  backend/src/Infrastructure/Migrations/20220401163828_Intitial.Designer.cs
  backend/src/Infrastructure/Migrations/20220401163828_Intitial.cs
  backend/src/Infrastructure/Migrations/20220403191540_ChangeOpinionLength.Designer.cs
  backend/src/Infrastructure/Migrations/20220403191540_ChangeOpinionLength.cs
  backend/src/Infrastructure/Migrations/20220404080309_FixMaxAzureIdLength.Designer.cs
  backend/src/Infrastructure/Migrations/20220404080309_FixMaxAzureIdLength.cs
  backend/src/Infrastructure/Migrations/PartyKlinerDbContextModelSnapshot.cs
  backend/src/WebApi/WebApi.csproj
  backend/src/WebApi/appsettings.Development.json
  backend/src/WebApi/appsettings.json
Labels: backend

#22 Feature/client frontend order management
  frontend/src/ContentScreens/AnnouncementList.tsx
  frontend/src/ContentScreens/Client/ClientDashboard.tsx
  frontend/src/ContentScreens/ClientOrderManagement.css
  frontend/src/ContentScreens/ClientOrderManagement.tsx
  frontend/src/DataClasses/MessLevel.ts
  frontend/src/DataClasses/OrderStatus.ts
Labels: frontend

#15 Create azure-webapps-dotnet-core.yml
  .github/workflows/azure-webapps-dotnet-core.yml
Labels: devops

#32 Disable deploying on pull request to dev
  .github/workflows/docker-image.yml
Labels: devops

#23 Order repo
  backend/PartyKlinest.sln
  backend/src/ApplicationCore/ApplicationCore.csproj
  backend/src/ApplicationCore/Entities/Orders/Order.cs
  backend/src/ApplicationCore/Exceptions/OrderNotFoundException.cs
  backend/src/ApplicationCore/Interfaces/IReadRepository.cs
  backend/src/ApplicationCore/Services/OrderFacade.cs
  backend/src/ApplicationCore/Specifications/OrdersAssignedSpecification.cs
  backend/src/ApplicationCore/Specifications/OrdersCreatedSpecification.cs
  backend/src/Infrastructure/Data/EfRepository.cs
  backend/src/Infrastructure/Data/PartyKlinerDbContext.cs
  backend/src/Infrastructure/Data/PartyKlinerDbContextFactory.cs
  backend/src/Infrastructure/Dependencies.cs
  backend/src/Infrastructure/Infrastructure.csproj
  backend/src/WebApi/Controllers/CleanerController.cs
  backend/src/WebApi/Controllers/OrdersController.cs
  backend/src/WebApi/Models/CleanerInfoDTO.cs
  backend/src/WebApi/Models/MessLevel.cs
  backend/src/WebApi/Models/NewOrderDTO.cs
  backend/src/WebApi/Models/OrderDTO.cs
  backend/src/WebApi/Models/OrderStatus.cs
  backend/src/WebApi/Program.cs
  backend/tests/UnitTests/ApplicationCore/Entities/Orders/OrderTests/Modify.cs
  backend/tests/UnitTests/ApplicationCore/Entities/Orders/OrderTests/SetCleanerId.cs
  backend/tests/UnitTests/ApplicationCore/Services/OrderFacadeTests/AddOrder.cs
  backend/tests/UnitTests/ApplicationCore/Services/OrderFacadeTests/DeleteOrder.cs
  backend/tests/UnitTests/ApplicationCore/Services/OrderFacadeTests/GetOrder.cs
  backend/tests/UnitTests/ApplicationCore/Services/OrderFacadeTests/ModifyOrder.cs
  backend/tests/UnitTests/ApplicationCore/Services/OrderFacadeTests/SubmitOpinionCleaner.cs
  backend/tests/UnitTests/ApplicationCore/Services/OrderFacadeTests/SubmitOpinionClient.cs
  backend/tests/UnitTests/ApplicationCore/Specifications/OrdersAssignedSpecificationTest.cs
  backend/tests/UnitTests/ApplicationCore/Specifications/OrdersCreatedSpecificationTest.cs
  backend/tests/UnitTests/Factories/AddressFactory.cs
  backend/tests/UnitTests/Factories/OrderBuilder.cs
  backend/tests/UnitTests/UnitTests.csproj
Labels: backend

#33 Add comission setting screen
  frontend/src/App.tsx
  frontend/src/ContentScreens/Admin/ComissionForm.css
  frontend/src/ContentScreens/Admin/ComissionForm.tsx
  frontend/src/DataClasses/Commission.ts
Labels: frontend

#31 Lista klientów z możliwością banowania (dla admina)
  frontend/.env
  frontend/src/App.tsx
  frontend/src/Components/UserList.css
  frontend/src/Components/UserList.tsx
  frontend/src/ContentScreens/Admin/UserBanning.tsx
Labels: frontend

#41 Fix/change datetimeoffset type
  frontend/src/Components/OrderList.tsx
  frontend/src/ContentScreens/Admin/OrderDeletion.tsx
  frontend/src/ContentScreens/ClientOrderManagement.tsx
  frontend/src/ContentScreens/PostAnnouncement.tsx
  frontend/src/DataClasses/DateTimeOffset.ts
  frontend/src/DataClasses/NewOrder.ts
  frontend/src/DataClasses/Order.ts
Labels: frontend

#37 Feature/routing change
  frontend/src/App.tsx
  frontend/src/Authentication/MsalService.ts
  frontend/src/ContentScreens/Dashboard.tsx
  frontend/src/ContentScreens/LoginScreen.tsx
  frontend/src/ContentScreens/Settings.tsx
  frontend/src/Header.tsx
  frontend/src/Layout.tsx
  frontend/src/Layouts.tsx
Labels: frontend

#42 Add schedule setting
  frontend/src/App.tsx
  frontend/src/ContentScreens/Cleaner/Schedule.css
  frontend/src/ContentScreens/Cleaner/Schedule.tsx
  frontend/src/DataClasses/CleanerInfo.ts
  frontend/src/DataClasses/DayOfWeek.ts
  frontend/src/DataClasses/ScheduleEntry.ts
Labels: frontend

#40 Feature/cleaner facade
  backend/src/ApplicationCore/Entities/Orders/Order.cs
  backend/src/ApplicationCore/Entities/Users/Cleaners/Cleaner.cs
  backend/src/ApplicationCore/Entities/Users/Cleaners/OrderFilter.cs
  backend/src/ApplicationCore/Exceptions/CleanerCannotChangeBannedStatusException.cs
  backend/src/ApplicationCore/Exceptions/CleanerNotFoundException.cs
  backend/src/ApplicationCore/Exceptions/NotCorrectOrderStatusException.cs
  backend/src/ApplicationCore/Exceptions/UserNotActiveException.cs
  backend/src/ApplicationCore/Exceptions/UserWithoutPrivilegesException.cs
  backend/src/ApplicationCore/Services/CleanerFacade.cs
  backend/src/ApplicationCore/Services/OrderFacade.cs
  backend/src/ApplicationCore/Specifications/OrdersAssignedToSpecification.cs
  backend/src/Infrastructure/Data/Config/CleanerConfiguration.cs
  backend/src/Infrastructure/Migrations/20220401163828_Intitial.cs
  backend/src/WebApi/Models/AddressDTO.cs
  backend/tests/UnitTests/ApplicationCore/Services/CleanerFacadeTests/AcceptRejectOrder.cs
  backend/tests/UnitTests/ApplicationCore/Services/CleanerFacadeTests/CheckCleanersPriviliges.cs
  backend/tests/UnitTests/ApplicationCore/Services/CleanerFacadeTests/ConfirmOrderCompleted.cs
  backend/tests/UnitTests/ApplicationCore/Services/CleanerFacadeTests/GetAssignedOrders.cs
  backend/tests/UnitTests/ApplicationCore/Services/CleanerFacadeTests/GetCleanerInfo.cs
  backend/tests/UnitTests/ApplicationCore/Services/CleanerFacadeTests/UpdateOrderFilter.cs
  backend/tests/UnitTests/ApplicationCore/Services/CleanerFacadeTests/UpdateSchedule.cs
  backend/tests/UnitTests/ApplicationCore/Services/CleanerFacadeTests/UpdateStatus.cs
  backend/tests/UnitTests/ApplicationCore/Specifications/OrdersAssignedToSpecificationTest.cs
  backend/tests/UnitTests/Factories/CleanerBuilder.cs
  backend/tests/UnitTests/Factories/OrderBuilder.cs
  package-lock.json
Labels: backend

#45 Feature/admin dashboard and sidebar update
  frontend/src/App.tsx
  frontend/src/ContentScreens/Admin/AdminDashboard.tsx
  frontend/src/ContentScreens/Cleaner/CleanerDashboard.tsx
  frontend/src/Layouts.tsx
Labels: frontend

#47 Feature/order assignments
  frontend/src/Components/AdminOrderList.tsx
  frontend/src/ContentScreens/Admin/OrderDeletion.tsx
  frontend/src/DataClasses/Order.ts
Labels: frontend

#48 Add cleaner info editing
  frontend/src/App.tsx
  frontend/src/Components/MessSelector.css
  frontend/src/Components/MessSelector.tsx
  frontend/src/ContentScreens/Cleaner/Schedule.css
  frontend/src/ContentScreens/Cleaner/Schedule.tsx
  frontend/src/ContentScreens/PostAnnouncement.tsx
  frontend/src/Layouts.tsx
Labels: frontend

#54 add authorization header to requests
  frontend/src/Api/endpoints.ts
  frontend/src/Authentication/MsalService.ts
Labels: frontend
